/*
Theme Name: Mission News
Theme URI: https://www.competethemes.com/mission-news/
Author: Compete Themes
Author URI: https://www.competethemes.com/
Description: For publishers on a mission. Mission News is a newspaper theme for publishers who want their content to be seen and heard. Premium-quality design adds credibility to every word you write, and a fully responsive layout ensures your site looks fantastic on every screen. The aesthetic is timeless and modeled after classic news sites like the New York Times. Use Mission News to setup a news site on any subject from health to finance. View the fully-setup live demo here: https://www.competethemes.com/demos/?theme=mission
Version: 1.10
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: three-columns, left-sidebar, right-sidebar, custom-logo, custom-menu, featured-images, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, entertainment, news
Text Domain: mission-news

Mission News WordPress Theme, Copyright 2017 Compete Themes
Mission News is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
h1 {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.357;
  /* 38px */
}

h2, .comment-respond .comment-reply-title, .site-footer .site-title, .toggle-dropdown {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

.post-title, .more-from-category .title, .widget_ct_mission_news_post_list .style-1 .title {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.333;
  /* 24px */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea, input[type="submit"], .comments .comment-author .author-name, .comments .comment-footer a, .sidebar-left .widget-title,
.sidebar-right .widget-title, .widget_ct_mission_news_post_list .style-2 .title {
  font-size: 0.875em;
  /* 14px / 16px */
  line-height: 1.286;
  /* 18px */
}

textarea, .archive-header p, .comment-respond .comment-notes, .comments .comment-content, .site-footer .footer-tagline, .tagline, .widget_ct_mission_news_post_list .style-2 .excerpt {
  font-size: 0.875em;
  /* 14px / 16px */
  line-height: 1.571;
  /* 22px */
}

.wp-caption-text,
.gallery-caption, .sticky-status, .comment-respond label, .site-footer .design-credit, .dropdown-navigation a, .dropdown-navigation span, .menu-secondary-items a, .post-byline, .widget_recent_entries .post-date, .widget_rss .rss-date, .post-tags a, .more-from-category .category-link, .widget_ct_mission_news_post_list .comments-link, .widget_calendar table caption {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.comments .comment-author .comment-date, .site-header .date, .widget_ct_mission_news_post_list .style-2 .post-byline, .widget_ct_mission_news_post_list .style-2 .widget_recent_entries .post-date, .widget_recent_entries .widget_ct_mission_news_post_list .style-2 .post-date, .widget_ct_mission_news_post_list .style-2 .widget_rss .rss-date, .widget_rss .widget_ct_mission_news_post_list .style-2 .rss-date {
  font-size: 0.625em;
  /* 12px / 16px */
  line-height: 1.8;
  /* 18px */
}

.sticky-status, .comments .comment-author .comment-date, .search-toggle span, .search-form-popup .search-submit, .dropdown-navigation a, .dropdown-navigation span, .menu-secondary-items a, .post-byline, .widget_recent_entries .post-date, .widget_rss .rss-date, .sidebar-left .widget-title,
.sidebar-right .widget-title, .widget_ct_mission_news_post_list .style-2 .post-byline, .widget_ct_mission_news_post_list .style-2 .widget_recent_entries .post-date, .widget_recent_entries .widget_ct_mission_news_post_list .style-2 .post-date, .widget_ct_mission_news_post_list .style-2 .widget_rss .rss-date, .widget_rss .widget_ct_mission_news_post_list .style-2 .rss-date, .widget_calendar table caption {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.site-footer .social-media-icons a, .site-footer .design-credit a, .site-title a, .post-title a, .post-tags a, .more-from-category .title, .widget_ct_mission_news_post_list .title, .widget_ct_mission_news_post_list .comments-link a {
  color: #000;
  text-decoration: none;
}
.site-footer .social-media-icons a:link, .site-footer .design-credit a:link, .site-title a:link, .post-title a:link, .post-tags a:link, .more-from-category .title:link, .widget_ct_mission_news_post_list .title:link, .widget_ct_mission_news_post_list .comments-link a:link, .site-footer .social-media-icons a:visited, .site-footer .design-credit a:visited, .site-title a:visited, .post-title a:visited, .post-tags a:visited, .more-from-category .title:visited, .widget_ct_mission_news_post_list .title:visited, .widget_ct_mission_news_post_list .comments-link a:visited {
  color: #000;
}
.site-footer .social-media-icons a:hover, .site-footer .design-credit a:hover, .site-title a:hover, .post-title a:hover, .post-tags a:hover, .more-from-category .title:hover, .widget_ct_mission_news_post_list .title:hover, .widget_ct_mission_news_post_list .comments-link a:hover, .site-footer .social-media-icons a:active, .site-footer .design-credit a:active, .site-title a:active, .post-title a:active, .post-tags a:active, .more-from-category .title:active, .widget_ct_mission_news_post_list .title:active, .widget_ct_mission_news_post_list .comments-link a:active, .site-footer .social-media-icons a:focus, .site-footer .design-credit a:focus, .site-title a:focus, .post-title a:focus, .post-tags a:focus, .more-from-category .title:focus, .widget_ct_mission_news_post_list .title:focus, .widget_ct_mission_news_post_list .comments-link a:focus {
  color: #666666;
}

.site-header .social-media-icons a, .menu-primary-items a,
.menu-unset ul a, .dropdown-navigation a {
  color: #fff;
  text-decoration: none;
}
.site-header .social-media-icons a:link, .menu-primary-items a:link,
.menu-unset ul a:link, .dropdown-navigation a:link, .site-header .social-media-icons a:visited, .menu-primary-items a:visited,
.menu-unset ul a:visited, .dropdown-navigation a:visited {
  color: #fff;
}
.site-header .social-media-icons a:hover, .menu-primary-items a:hover,
.menu-unset ul a:hover, .dropdown-navigation a:hover, .site-header .social-media-icons a:active, .menu-primary-items a:active,
.menu-unset ul a:active, .dropdown-navigation a:active, .site-header .social-media-icons a:focus, .menu-primary-items a:focus,
.menu-unset ul a:focus, .dropdown-navigation a:focus {
  color: #F3F3F3;
}

/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.overflow-container {
  position: relative;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}

.main {
  margin: 0 auto;
}

.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

p {
  margin: 1.5em 0;
}

a {
  color: #176DB3;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
a:link, a:visited {
  color: #176DB3;
}
a:hover, a:active, a:focus {
  color: #1976C2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  background: #F3F3F3;
  white-space: pre-wrap;
  padding: 0.75em;
}

code {
  background: #F3F3F3;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #000;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 1.5em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td,
th {
  padding: 0.75em;
  border: solid 1px #666666;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text,
.gallery-caption {
  font-family: "PT Sans", sans-serif;
  color: #666666;
}

/* Form styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  padding: 8px 12px;
  color: #000;
  border: solid 1px #DCDCDC;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.15s;
  transition: border-color 0.15s;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
  outline: none;
  border-color: #176DB3;
}

textarea {
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  padding: 10px 18px;
  color: white;
  background: #000;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  outline: none;
  background: #4C4C4C;
}

::-webkit-input-placeholder {
  color: #666666;
}

:-moz-placeholder {
  color: #666666;
}

::-moz-placeholder {
  color: #666666;
}

:-ms-input-placeholder {
  color: #666666;
}

/* sticky */
/* ie image border fix */
a img {
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #000;
  -webkit-transition: top 0.15s;
  transition: top 0.15s;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.archive-header {
  margin: 0 5.556% 1.125em;
  padding-bottom: 0.75em;
  border-bottom: solid 1px #DCDCDC;
}
.archive-header h1 {
  font-size: 1em;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.archive-header h1 + p {
  margin-top: 0.375em;
}
.archive-header i {
  margin-right: 3px;
}
.archive-header p {
  font-style: italic;
}
.archive-header p:first-child {
  margin-top: 0;
}
.archive-header p:last-child {
  margin-bottom: 0.375em;
}

@media all and (min-width: 37.5em) {
  .archive-header {
    margin: 0 2.778% 1.125em;
  }
}
@media all and (min-width: 50em) {
  .archive-header {
    margin: 0 0 1.125em;
  }
}
.blog .entry:last-child,
.archive .entry:last-child,
.search .entry:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.entry.sticky {
  position: relative;
}

.sticky-status {
  display: inline-block;
  margin-bottom: 0.75em;
  margin-right: 0.75em;
  background: #000;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  padding: 6px 12px;
  font-weight: 700;
}

.has-post-thumbnail .sticky-status {
  position: absolute;
  top: 0;
  left: 0;
}

.rtl .has-post-thumbnail .sticky-status {
  left: 0;
  right: auto;
  margin-left: 0;
}

.comment-respond {
  margin-top: 1.875em;
}
.comment-respond .comment-form-comment,
.comment-respond .comment-form-author,
.comment-respond .comment-form-email,
.comment-respond .comment-form-url {
  margin: 0.75em 0;
}
.comment-respond label {
  display: block;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 3px;
}
.comment-respond .submit {
  font-weight: 700;
}

.comments .comments-number {
  margin: 1.5em 0 1.875em;
}
.comments .comment-list {
  list-style: none;
  margin: 0;
}
.comments .comment-list li {
  margin: 2.25em 0;
}
.comments .comment-author .avatar {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.comments .comment-author .author-name {
  display: block;
}
.comments .comment-author .comment-date {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #666666;
}
.comments .comment-author .author-tag {
  font-style: italic;
  font-size: 10px;
  line-height: 18px;
  margin-left: 4px;
}
.comments .comment-content {
  margin: 0.75em 0;
}
.comments .comment-content p:first-child {
  margin-top: 12px;
}
.comments .comment-content p:last-child {
  margin-bottom: 12px;
}
.comments .comment-footer {
  font-family: "PT Sans", sans-serif;
}
.comments .comment-reply-link {
  margin-right: 6px;
}
.comments .children {
  list-style: none;
  margin: 0;
  padding-left: 1.5em;
  border-left: solid 1px #DCDCDC;
}

.comments-closed {
  margin: 2.25em 0;
}

.bypostauthor .comment-author {
  position: relative;
}

.comment-pagination p {
  width: 48%;
  display: inline-block;
}
.comment-pagination p:first-child {
  margin-right: 2%;
}
.comment-pagination .next-comment {
  text-align: right;
}

.site-footer {
  position: relative;
  z-index: 9;
  clear: both;
  background: #fff;
  text-align: center;
  border-top: solid 1px #DCDCDC;
  padding: 1.5em 5.556% 1.125em;
}
.site-footer .social-media-icons a {
  border-color: #000;
}
.site-footer .footer-tagline {
  font-style: italic;
  margin: 0;
}
.site-footer .design-credit {
  font-family: "PT Sans", sans-serif;
  margin-top: 2.625em;
}
.site-footer .design-credit a {
  font-weight: 700;
}

@media all and (min-width: 37.5em) {
  .site-footer {
    padding: 1.5em 2.778% 1.125em;
  }
  .site-footer .site-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }
  .site-footer .footer-tagline {
    font-size: 1em;
    line-height: 1.5;
  }
}
@media all and (min-width: 50em) {
  .site-footer .social-media-icons {
    margin: 1.125em;
  }
}
/**
 * 14.2 Galleries
 */
.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}
.gallery-item a {
  border: none;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  display: block;
  font-size: 12px;
  padding: 0.5em 0 0;
  margin: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

.site-header {
  position: relative;
  padding: 0.75em 5.556%;
  border-bottom: solid 1px #DCDCDC;
  margin-bottom: 1.125em;
  text-align: center;
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.site-header .date {
  margin: 0;
}

.title-container {
  position: relative;
  z-index: 19;
  display: inline-block;
  max-width: calc(100% - 96px);
}

.site-title {
  font-family: "Abril Fatface", "Arial Black", cursive;
}
.site-title a {
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.tagline {
  display: none;
  font-style: italic;
  margin: 0;
}

.social-media-icons {
  list-style: none;
}
.social-media-icons li {
  display: inline-block;
  margin-right: 8px;
  text-align: center;
}
.social-media-icons a {
  line-height: 30px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: solid 1px #fff;
  border-radius: 3px;
  -webkit-transition: color 0.15s, border-color 0.15s;
  transition: color 0.15s, border-color 0.15s;
}
.social-media-icons a:hover, .social-media-icons a:active, .social-media-icons a:focus {
  color: #DCDCDC;
  border-color: #DCDCDC;
}
.social-media-icons i {
  vertical-align: middle;
}

.site-header .social-media-icons {
  margin: -12px 0 3em;
  display: none;
  padding: 0 5.556%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
.site-header .social-media-icons.moved {
  display: block;
}

.search-toggle {
  position: relative;
  z-index: 19;
  float: left;
  border: solid 1px #DCDCDC;
  border-radius: 3px;
  background: none;
  margin: 0 -36px 0 0;
  padding: 8px 10px;
  -webkit-transition: border-color 0.35s;
  transition: border-color 0.35s;
}
.search-toggle span {
  display: none;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  margin-left: 6px;
}
.search-toggle:hover {
  cursor: pointer;
  color: #666666;
}
.search-toggle.open {
  border-color: #000;
}
.search-toggle:focus {
  outline: none;
}
.search-toggle i {
  font-size: 14px;
  line-height: 18px;
}

.display-search .search-form-popup {
  opacity: 1;
  visibility: visible;
}

.search-form-popup {
  position: fixed;
  z-index: 49;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.97);
  padding: 3.75em 5.556%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.25s, visibility 0.25s;
  transition: opacity 0.25s, visibility 0.25s;
}
.search-form-popup .inner {
  position: relative;
  max-width: 1210px;
  margin: 0 auto;
}
.search-form-popup .title {
  margin-bottom: 18px;
  font-weight: 700;
}
.search-form-popup .search-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.search-form-popup .search-field {
  border-radius: 18px 0 0 18px;
  margin-right: 0;
  border-right: none;
}
.search-form-popup .search-submit {
  border-radius: 0 18px 18px 0;
  margin-left: 0;
  font-weight: 700;
  min-width: 87px;
}
.search-form-popup .close {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8px;
}
.search-form-popup .close svg g {
  -webkit-transition: fill 0.15s;
  transition: fill 0.15s;
}
.search-form-popup .close:hover svg g {
  fill: #666666;
}

.rtl .search-form-popup .close {
  right: auto;
  left: 0;
}

@media all and (min-width: 31.25em) {
  .search-form-popup .title {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
@media all and (min-width: 37.5em) {
  .site-header {
    padding: 1.125em 2.778%;
  }

  .site-title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }

  .search-form-popup {
    padding: 3.75em 2.778%;
  }
  .search-form-popup .title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
    margin-bottom: 24px;
  }
  .search-form-popup .search-form {
    max-width: 560px;
    margin: 0 auto;
  }
}
@media all and (min-width: 783px) {
  .admin-bar .search-form-popup {
    top: 32px;
  }
}
@media all and (min-width: 50em) {
  .site-header {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .site-header .date {
    display: inline-block;
    position: absolute;
    left: 0;
    right: auto;
    bottom: -18px;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
  }

  .title-container {
    display: block;
    max-width: 100%;
    margin-bottom: 1.5em;
  }

  .site-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }

  .tagline {
    display: block;
  }

  .top-nav {
    margin-bottom: 0.375em;
  }
  .top-nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .social-media-icons {
    line-height: 0;
  }
  .social-media-icons a {
    font-size: 14px;
    line-height: 18px;
    width: 24px;
    height: 24px;
    border: solid 1px #000;
  }

  .site-header .social-media-icons {
    display: block;
    margin: 0;
    padding: 0;
    float: right;
  }
  .site-header .social-media-icons a {
    color: #000;
  }
  .site-header .social-media-icons a:link, .site-header .social-media-icons a:visited {
    color: #000;
  }
  .site-header .social-media-icons a:hover, .site-header .social-media-icons a:active, .site-header .social-media-icons a:focus {
    color: #666666;
  }

  .search-toggle {
    position: relative;
    border: none;
    padding: 0;
    margin: 0 18px 0 0;
  }
  .search-toggle::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -1px;
  }
  .search-toggle span {
    display: inline-block;
  }
  .search-toggle i {
    font-size: 12px;
    line-height: 1.5;
  }

  .search-form-popup {
    padding-top: 4.5em;
  }
  .search-form-popup .title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }
  .search-form-popup .search-field {
    padding: 11px 18px;
    border-radius: 24px 0 0 24px;
    font-size: 16px;
    line-height: 1.5;
  }
  .search-form-popup .search-submit {
    padding: 15px 18px;
    border-radius: 0 24px 24px 0;
  }
  .search-form-popup .close {
    top: -54px;
  }
}
@media all and (min-width: 62.5em) {
  .site-title {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.342;
    /* 51px */
  }

  .tagline {
    font-size: 1em;
    line-height: 1.5;
  }

  .search-form-popup .title {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.342;
    /* 51px */
  }
  .search-form-popup .search-form {
    max-width: 680px;
  }
}
.pagination {
  clear: both;
  margin: 0.75em 0;
  padding: 1.5em 5.556% 0;
  border-top: solid 1px #DCDCDC;
}
.pagination a,
.pagination span {
  display: inline-block;
  padding: 7px 13px;
  border: solid 1px #DCDCDC;
  margin: 0 0.375em 0.375em 0;
}
.pagination .prev {
  margin-left: 0;
}
.pagination .next {
  margin-right: 0;
}

@media all and (min-width: 37.5em) {
  .pagination {
    padding: 1.5em 2.778% 0;
  }
}
@media all and (min-width: 50em) {
  .pagination {
    border-top: solid 1px #DCDCDC;
    padding: 1.5em 0 0 0;
  }
}
.layout-container {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.main {
  display: table-header-group;
}
.main .loop-container {
  padding: 0 5.556% 1.5em;
}

@media all and (min-width: 37.5em) {
  .main .loop-container {
    padding: 0 2.778% 1.5em;
  }
}
@media all and (min-width: 50em) {
  .content-container {
    position: relative;
  }
  .content-container:before, .content-container:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #DCDCDC;
  }
  .content-container:before {
    left: 25%;
    right: auto;
  }
  .content-container:after {
    right: 25%;
    left: auto;
  }

  .layout-container {
    display: block;
    position: relative;
    min-height: calc(100vh - 430px);
  }
  .layout-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .main {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    padding: 0 2.778% 1.5em;
    margin-left: 25%;
    /* margin-left added in case left-sidebar has no widgets.
    ** This is a real possibility for a fresh install. */
  }
  .main .loop-container {
    padding: 0;
  }

  .rtl .main {
    margin-left: 0;
  }
}
.toggle-navigation {
  position: relative;
  z-index: 19;
  float: right;
  border: solid 1px #DCDCDC;
  border-radius: 3px;
  background: none;
  margin: 0;
  padding: 8px 5px;
  margin-left: -36px;
  -webkit-transition: border-color 0.35s;
  transition: border-color 0.35s;
}
.toggle-navigation:hover {
  cursor: pointer;
}
.toggle-navigation svg {
  display: block;
}
.toggle-navigation .top-bar,
.toggle-navigation .bottom-bar {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.toggle-navigation .middle-bar {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.toggle-navigation.open {
  border-color: #000;
}
.toggle-navigation.open .top-bar {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.toggle-navigation.open .middle-bar {
  opacity: 0;
}
.toggle-navigation.open .bottom-bar {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.toggle-navigation:focus {
  outline: none;
}

.menu-primary-container {
  position: fixed;
  z-index: 9;
  top: 67px;
  bottom: 0;
  left: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  -webkit-transition: opacity 0.35s, visibility 0.35s, -webkit-transform 0.25s;
  transition: opacity 0.35s, visibility 0.35s, transform 0.25s;
}

.admin-bar .menu-primary-container {
  top: 113px;
}

.menu-primary {
  padding: 0 5.556%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}

.menu-primary-items,
.menu-unset ul {
  list-style: none;
  margin: 0;
}
.menu-primary-items:after,
.menu-unset ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.menu-primary-items li,
.menu-unset ul li {
  position: relative;
  border-bottom: solid 1px #262626;
}
.menu-primary-items li.current-menu-item > a, .menu-primary-items li.current-menu-ancestor > a,
.menu-unset ul li.current-menu-item > a,
.menu-unset ul li.current-menu-ancestor > a {
  text-decoration: underline;
}
.menu-primary-items a,
.menu-unset ul a {
  display: block;
  font-family: "PT Sans", sans-serif;
  padding: 15px 0;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
.menu-primary-items a:hover, .menu-primary-items a:active, .menu-primary-items a:focus,
.menu-unset ul a:hover,
.menu-unset ul a:active,
.menu-unset ul a:focus {
  color: #DCDCDC;
}
.menu-primary-items ul,
.menu-unset ul ul {
  position: fixed;
  top: -12px;
  left: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0 5.556%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s;
  transition: opacity 0.35s, visibility 0.35s;
}
.menu-primary-items ul ul,
.menu-unset ul ul ul {
  left: 200%;
}
.menu-primary-items ul ul ul,
.menu-unset ul ul ul ul {
  left: 300%;
}
.menu-primary-items ul ul ul ul,
.menu-unset ul ul ul ul ul {
  left: 400%;
}
.menu-primary-items ul ul ul ul ul,
.menu-unset ul ul ul ul ul ul {
  left: 500%;
}

.toggle-dropdown {
  position: absolute;
  right: 0;
  top: -1px;
  color: #fff;
  background: none;
  margin: 0;
  padding: 15px 5.556%;
  border: solid 1px #262626;
  border-radius: 0;
  -webkit-transition: color 0.15s, background 0.15s;
  transition: color 0.15s, background 0.15s;
}
.toggle-dropdown:hover {
  cursor: pointer;
}
.toggle-dropdown:focus {
  outline: none;
}
.toggle-dropdown:hover, .toggle-dropdown:active, .toggle-dropdown:focus {
  color: #DCDCDC;
  background: #000;
}

.rtl .toggle-dropdown i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown-navigation {
  position: relative;
  z-index: 39;
  opacity: 0;
  visibility: hidden;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  text-align: left;
  border-bottom: solid 1px #262626;
  -webkit-transition: opacity 0.35s, visibility 0.35s;
  transition: opacity 0.35s, visibility 0.35s;
}
.dropdown-navigation:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.dropdown-navigation a {
  font-weight: 700;
  float: left;
  display: block;
  padding: 0.75em 5.556%;
}
.dropdown-navigation span {
  font-weight: 700;
  float: right;
  padding: 0.75em 5.556%;
  color: #999999;
}

.rtl .dropdown-navigation i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu-primary-items {
  position: relative;
  top: -42px;
}

@media all and (max-width: 799px) {
  .menu-primary-container.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .menu-primary-container.tier-2 .dropdown-navigation, .menu-primary-container.tier-3 .dropdown-navigation, .menu-primary-container.tier-4 .dropdown-navigation, .menu-primary-container.tier-5 .dropdown-navigation {
    opacity: 1;
    visibility: visible;
    margin-bottom: 0.75em;
  }
  .menu-primary-container.tier-2 .menu-secondary-container, .menu-primary-container.tier-3 .menu-secondary-container, .menu-primary-container.tier-4 .menu-secondary-container, .menu-primary-container.tier-5 .menu-secondary-container {
    position: absolute;
    width: 100%;
    top: 48px;
  }
  .menu-primary-container.tier-2 .social-media-icons, .menu-primary-container.tier-3 .social-media-icons, .menu-primary-container.tier-4 .social-media-icons, .menu-primary-container.tier-5 .social-media-icons {
    opacity: 0;
    visibility: hidden;
  }
  .menu-primary-container.tier-2 .menu-primary,
  .menu-primary-container.tier-2 .menu-secondary-container,
  .menu-primary-container.tier-2 .social-media-icons {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .menu-primary-container.tier-3 .menu-primary,
  .menu-primary-container.tier-3 .menu-secondary-container,
  .menu-primary-container.tier-3 .social-media-icons {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  .menu-primary-container.tier-4 .menu-primary,
  .menu-primary-container.tier-4 .menu-secondary-container,
  .menu-primary-container.tier-4 .social-media-icons {
    -webkit-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%);
  }
  .menu-primary-container.tier-5 .menu-primary,
  .menu-primary-container.tier-5 .menu-secondary-container,
  .menu-primary-container.tier-5 .social-media-icons {
    -webkit-transform: translateX(-400%);
    -ms-transform: translateX(-400%);
    transform: translateX(-400%);
  }

  .menu-primary-items li.current > ul, .menu-primary-items li.current-ancestor > ul,
  .menu-unset ul li.current > ul,
  .menu-unset ul li.current-ancestor > ul {
    opacity: 1;
    visibility: visible;
  }

  .rtl .menu-primary-container.open {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .rtl .menu-primary-container.tier-2 .menu-primary,
  .rtl .menu-primary-container.tier-2 .menu-secondary-container,
  .rtl .menu-primary-container.tier-2 .social-media-icons {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .rtl .menu-primary-container.tier-3 .menu-primary,
  .rtl .menu-primary-container.tier-3 .menu-secondary-container,
  .rtl .menu-primary-container.tier-3 .social-media-icons {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
  .rtl .menu-primary-container.tier-4 .menu-primary,
  .rtl .menu-primary-container.tier-4 .menu-secondary-container,
  .rtl .menu-primary-container.tier-4 .social-media-icons {
    -webkit-transform: translateX(300%);
    -ms-transform: translateX(300%);
    transform: translateX(300%);
  }
  .rtl .menu-primary-container.tier-5 .menu-primary,
  .rtl .menu-primary-container.tier-5 .menu-secondary-container,
  .rtl .menu-primary-container.tier-5 .social-media-icons {
    -webkit-transform: translateX(400%);
    -ms-transform: translateX(400%);
    transform: translateX(400%);
  }
}
@media all and (min-width: 37.5em) {
  .menu-primary-container {
    max-width: 440px;
    box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.1);
  }
}
@media all and (min-width: 50em) {
  .toggle-navigation,
  .toggle-dropdown,
  .dropdown-navigation {
    display: none;
  }

  .menu-primary-container {
    position: static;
    max-width: none;
    box-shadow: none;
    background: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    overflow: visible;
    text-align: center;
    border-top: solid 2px #000;
    border-bottom: solid 1px #DCDCDC;
  }
  .menu-primary-container.open {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .menu-primary-items,
  .menu-unset ul {
    position: static;
  }
  .menu-primary-items li,
  .menu-unset ul li {
    position: relative;
    display: inline-block;
    border-bottom: none;
    margin-right: -4px;
  }
  .menu-primary-items li.current-menu-item > a, .menu-primary-items li.current-menu-ancestor > a,
  .menu-unset ul li.current-menu-item > a,
  .menu-unset ul li.current-menu-ancestor > a {
    text-decoration: none;
    background: #F3F3F3;
  }
  .menu-primary-items li.menu-item-has-children > a:after,
  .menu-unset ul li.menu-item-has-children > a:after {
    content: '\f107';
    font-family: "FontAwesome";
    position: relative;
    margin-left: 3px;
    line-height: 1;
    top: 1px;
  }
  .menu-primary-items a,
  .menu-unset ul a {
    color: #000;
    display: inline-block;
    padding: 12px;
  }
  .menu-primary-items a:link, .menu-primary-items a:visited,
  .menu-unset ul a:link,
  .menu-unset ul a:visited {
    color: #000;
  }
  .menu-primary-items a:hover, .menu-primary-items a:active, .menu-primary-items a:focus,
  .menu-unset ul a:hover,
  .menu-unset ul a:active,
  .menu-unset ul a:focus {
    color: #666666;
  }
  .menu-primary-items a:hover ~ ul, .menu-primary-items a:active ~ ul, .menu-primary-items a:focus ~ ul,
  .menu-unset ul a:hover ~ ul,
  .menu-unset ul a:active ~ ul,
  .menu-unset ul a:focus ~ ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  .menu-primary-items a:hover ~ ul:before, .menu-primary-items a:active ~ ul:before, .menu-primary-items a:focus ~ ul:before,
  .menu-unset ul a:hover ~ ul:before,
  .menu-unset ul a:active ~ ul:before,
  .menu-unset ul a:focus ~ ul:before {
    width: 100%;
  }
  .menu-primary-items ul,
  .menu-unset ul ul {
    position: absolute;
    z-index: 19;
    top: 100%;
    left: 0.75em;
    width: auto;
    min-width: 100%;
    padding: 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    -webkit-transition: opacity 0.25s, visibility 0.25s, -webkit-transform 0.15s;
    transition: opacity 0.25s, visibility 0.25s, transform 0.15s;
  }
  .menu-primary-items ul:hover,
  .menu-unset ul ul:hover {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  .menu-primary-items ul:hover:before,
  .menu-unset ul ul:hover:before {
    width: 100%;
  }
  .menu-primary-items ul:before,
  .menu-unset ul ul:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #000, #DCDCDC);
    background-image: linear-gradient(to right, #000, #DCDCDC);
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
  .menu-primary-items ul li,
  .menu-unset ul ul li {
    display: block;
    font-size: 0.875em;
    /* 14px / 16px */
    line-height: 1.571;
    /* 22px */
    white-space: nowrap;
    margin-right: 0;
  }
  .menu-primary-items ul li.menu-item-has-children > a,
  .menu-unset ul ul li.menu-item-has-children > a {
    position: relative;
  }
  .menu-primary-items ul li.menu-item-has-children > a:after,
  .menu-unset ul ul li.menu-item-has-children > a:after {
    content: '\f105';
    position: absolute;
    top: 10px;
    right: 12px;
  }
  .menu-primary-items ul li.menu-item-has-children:first-child > a:after,
  .menu-unset ul ul li.menu-item-has-children:first-child > a:after {
    top: 14px;
  }
  .menu-primary-items ul li li,
  .menu-unset ul ul li li {
    font-size: 1em;
  }
  .menu-primary-items ul li:first-child a,
  .menu-unset ul ul li:first-child a {
    padding-top: 12px;
  }
  .menu-primary-items ul li:last-child a,
  .menu-unset ul ul li:last-child a {
    padding-bottom: 12px;
  }
  .menu-primary-items ul a,
  .menu-unset ul ul a {
    display: block;
    padding: 6px 36px 6px 24px;
  }
  .menu-primary-items ul a:hover:before, .menu-primary-items ul a:active:before, .menu-primary-items ul a:focus:before,
  .menu-unset ul ul a:hover:before,
  .menu-unset ul ul a:active:before,
  .menu-unset ul ul a:focus:before {
    content: '';
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    height: 100%;
  }
  .menu-primary-items ul ul,
  .menu-primary-items ul ul ul,
  .menu-primary-items ul ul ul ul,
  .menu-primary-items ul ul ul ul ul,
  .menu-unset ul ul ul,
  .menu-unset ul ul ul ul,
  .menu-unset ul ul ul ul ul,
  .menu-unset ul ul ul ul ul ul {
    left: calc(100% + 12px);
    top: 0;
  }

  .rtl .menu-primary-items li.menu-item-has-children ul a:after,
  .rtl .menu-unset ul li.menu-item-has-children ul a:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: auto;
    right: 6px;
  }
  .rtl .menu-primary-items a:hover ~ ul, .rtl .menu-primary-items a:active ~ ul, .rtl .menu-primary-items a:focus ~ ul,
  .rtl .menu-unset ul a:hover ~ ul,
  .rtl .menu-unset ul a:active ~ ul,
  .rtl .menu-unset ul a:focus ~ ul {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  .rtl .menu-primary-items ul:hover,
  .rtl .menu-unset ul ul:hover {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  .rtl .menu-primary-items ul a,
  .rtl .menu-primary-items ul ul a,
  .rtl .menu-unset ul ul a,
  .rtl .menu-unset ul ul ul a {
    padding: 6px 36px 6px 12px;
  }
}
.menu-secondary-container {
  display: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
.menu-secondary-container.moved {
  display: block;
}

.menu-secondary {
  padding: 0 5.556%;
}
.menu-secondary .toggle-dropdown {
  padding: 12px 5.556%;
}

.menu-secondary-items {
  position: relative;
  top: -42px;
  margin: 0;
  list-style: none;
}
.menu-secondary-items li {
  position: relative;
  border-bottom: solid 1px #262626;
}
.menu-secondary-items li.current-menu-item > a, .menu-secondary-items li.current-menu-ancestor > a {
  text-decoration: underline;
}
.menu-secondary-items li.current ul, .menu-secondary-items li.current-ancestor ul {
  opacity: 1;
  visibility: visible;
}
.menu-secondary-items a {
  display: block;
  font-family: "PT Sans", sans-serif;
  padding: 15px 0;
  color: #DCDCDC;
  text-decoration: none;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
.menu-secondary-items a:link, .menu-secondary-items a:visited {
  color: #DCDCDC;
}
.menu-secondary-items a:hover, .menu-secondary-items a:active, .menu-secondary-items a:focus {
  color: #fff;
}
.menu-secondary-items ul {
  position: fixed;
  top: -12px;
  left: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0 5.556%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s;
  transition: opacity 0.35s, visibility 0.35s;
}
.menu-secondary-items ul ul {
  left: 200%;
}
.menu-secondary-items ul ul ul {
  left: 300%;
}
.menu-secondary-items ul ul ul ul {
  left: 400%;
}
.menu-secondary-items ul ul ul ul ul {
  left: 500%;
}

@media all and (max-width: 799px) {
  .menu-secondary-items li.current ul, .menu-secondary-items li.current-ancestor ul {
    opacity: 1;
    visibility: visible;
  }
}
@media all and (min-width: 50em) {
  .menu-secondary-container {
    display: block;
    float: left;
    text-align: left;
  }

  .menu-secondary {
    padding: 0;
  }
  .menu-secondary .toggle-dropdown {
    display: none;
  }

  .menu-secondary-items {
    position: static;
    line-height: 0;
  }
  .menu-secondary-items li {
    position: relative;
    z-index: 29;
    display: inline-block;
    border-bottom: none;
    margin-right: 8px;
  }
  .menu-secondary-items li.menu-item-has-children > a:after {
    content: '\f107';
    font-family: "FontAwesome";
    display: inline-block;
    position: relative;
    margin-left: 3px;
    line-height: 1;
    top: 0;
    text-decoration: none;
  }
  .menu-secondary-items a {
    display: inline-block;
    padding: 0;
    color: #000;
  }
  .menu-secondary-items a:link, .menu-secondary-items a:visited {
    color: #000;
  }
  .menu-secondary-items a:hover, .menu-secondary-items a:active, .menu-secondary-items a:focus {
    color: #666666;
  }
  .menu-secondary-items a:hover ~ ul, .menu-secondary-items a:active ~ ul, .menu-secondary-items a:focus ~ ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  .menu-secondary-items a:hover ~ ul:before, .menu-secondary-items a:active ~ ul:before, .menu-secondary-items a:focus ~ ul:before {
    width: 100%;
  }
  .menu-secondary-items a:hover:before, .menu-secondary-items a:active:before, .menu-secondary-items a:focus:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    height: 10px;
  }
  .menu-secondary-items ul {
    position: absolute;
    z-index: 19;
    top: calc(100% + 4px);
    left: 0.75em;
    right: auto;
    width: auto;
    min-width: 100%;
    padding: 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    -webkit-transition: opacity 0.25s, visibility 0.25s, -webkit-transform 0.15s;
    transition: opacity 0.25s, visibility 0.25s, transform 0.15s;
  }
  .menu-secondary-items ul:hover {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
  }
  .menu-secondary-items ul:hover:before {
    width: 100%;
  }
  .menu-secondary-items ul:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #000, #DCDCDC);
    background-image: linear-gradient(to right, #000, #DCDCDC);
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
  .menu-secondary-items ul li {
    display: block;
    font-size: 0.875em;
    /* 14px / 16px */
    line-height: 1.571;
    /* 22px */
    white-space: nowrap;
    margin-right: 0;
  }
  .menu-secondary-items ul li.menu-item-has-children > a {
    position: relative;
  }
  .menu-secondary-items ul li.menu-item-has-children > a:after {
    content: '\f105';
    position: absolute;
    top: 10px;
    right: 12px;
  }
  .menu-secondary-items ul li.menu-item-has-children:first-child > a:after {
    top: 14px;
  }
  .menu-secondary-items ul li li {
    font-size: 1em;
  }
  .menu-secondary-items ul li:first-child a {
    padding-top: 12px;
  }
  .menu-secondary-items ul li:last-child a {
    padding-bottom: 12px;
  }
  .menu-secondary-items ul a {
    display: block;
    padding: 6px 36px 6px 24px;
  }
  .menu-secondary-items ul a:hover:before, .menu-secondary-items ul a:active:before, .menu-secondary-items ul a:focus:before {
    content: '';
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    height: 100%;
  }
  .menu-secondary-items ul ul,
  .menu-secondary-items ul ul ul,
  .menu-secondary-items ul ul ul ul,
  .menu-secondary-items ul ul ul ul ul {
    left: calc(100% + 12px);
    right: auto;
    top: 0;
  }

  .rtl .menu-secondary-items li.menu-item-has-children ul a:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: auto;
    right: 6px;
  }
  .rtl .menu-secondary-items a:hover ~ ul, .rtl .menu-secondary-items a:active ~ ul, .rtl .menu-secondary-items a:focus ~ ul {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  .rtl .menu-secondary-items ul:hover {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  .rtl .menu-secondary-items ul a,
  .rtl .menu-secondary-items ul ul a {
    padding: 6px 36px 6px 12px;
  }
}
.entry {
  margin-bottom: 1.125em;
  padding-bottom: 1.125em;
  border-bottom: solid 1px #DCDCDC;
}

.single .entry {
  border-bottom: none;
}

.post-header {
  margin: 0.75em 0;
}

.post-byline, .widget_recent_entries .post-date, .widget_rss .rss-date {
  color: #666666;
}

.post-content {
  margin-top: 0.75em;
}
.post-content > p:first-child {
  margin-top: 0;
}
.post-content > p:last-child {
  margin-bottom: 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.single .post-content {
  margin-bottom: 1.125em;
}

.post-meta {
  border-bottom: solid 1px #DCDCDC;
}

.post-categories {
  font-style: italic;
  margin-bottom: 1.125em;
}

.post-tags {
  margin: 1.125em 0;
}
.post-tags ul {
  list-style: none;
  margin: 0;
}
.post-tags li {
  display: inline-block;
}
.post-tags a {
  padding: 3px 12px;
  background: #F3F3F3;
  margin-right: 6px;
  -webkit-transition: color 0.15s, background 0.15s;
  transition: color 0.15s, background 0.15s;
}
.post-tags a:hover, .post-tags a:active, .post-tags a:focus {
  background: #DCDCDC;
  color: #000;
}

.post-author {
  padding: 1.5em 0 0.375em;
  margin: 1.125em 0;
  border-top: solid 1px #DCDCDC;
}
.post-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.post-author .avatar-container {
  float: left;
  margin-right: 0.75em;
  line-height: 0;
}
.post-author .avatar {
  border-radius: 50%;
  margin: 0;
}
.post-author h3 {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 6px;
}
.post-author p {
  color: #666666;
}
.post-author p:first-of-type {
  margin-top: 0;
}
.post-author p:last-of-type {
  margin-bottom: 0;
}

.more-from-category {
  margin: 1.125em 0;
}
.more-from-category .top {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 1.125em;
}
.more-from-category .top:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.more-from-category .section-title span {
  font-weight: 700;
}
.more-from-category .category-link {
  line-height: 2;
  float: right;
  text-decoration: none;
}
.more-from-category .category-link:hover, .more-from-category .category-link:active, .more-from-category .category-link:focus {
  text-decoration: underline;
}
.more-from-category ul {
  list-style: none;
  margin: 0;
}
.more-from-category li {
  margin-bottom: 1.125em;
  padding-bottom: 1.125em;
  border-bottom: solid 1px #DCDCDC;
}
.more-from-category .title {
  display: block;
  margin-top: 0.75em;
}

.post-password-form p:last-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.post-password-form p:last-child label {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.post-password-form p:last-child label input {
  margin-top: 6px;
}
.post-password-form p:last-child input[type="submit"] {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 9px 18px;
}

@media all and (min-width: 31.25em) {
  .post-title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }

  .more-from-category .category-container {
    margin: 1.125em 0;
    border-bottom: solid 1px #DCDCDC;
  }
  .more-from-category ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .more-from-category li {
    width: 50%;
    float: left;
    border-bottom: none;
    margin-bottom: 0;
  }
  .more-from-category li:nth-child(odd) {
    padding-right: 0.75em;
    border-right: solid 1px #DCDCDC;
    clear: left;
  }
  .more-from-category li:nth-child(even) {
    padding-left: 0.75em;
    border-left: solid 1px #DCDCDC;
    margin-left: -1px;
  }
  .more-from-category li:nth-child(3), .more-from-category li:nth-child(4) {
    border-top: solid 1px #DCDCDC;
    padding-top: 1.125em;
  }
}
@media all and (min-width: 37.5em) {
  .post-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }
}
@media all and (min-width: 50em) {
  .post-title {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
@media all and (min-width: 56.25em) {
  .post-title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }
}
@media all and (min-width: 68.75em) {
  .post-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }
}
.featured-image {
  position: relative;
  line-height: 0;
}
.featured-image > a {
  font-size: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.featured-image > a:hover, .featured-image > a:active, .featured-image > a:focus {
  opacity: 0.9;
}
.featured-image img {
  width: 100%;
}
.featured-image .ccfic {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 4px 4px 12px;
  font-size: 13px;
}

.layout-double .double .featured-image,
.layout-rows .rows .featured-image,
.layout-rows-excerpt .rows-excerpt .featured-image,
.widget_ct_mission_news_post_list .style-2 .featured-image,
.more-from-category .featured-image {
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}
.layout-double .double .featured-image > img,
.layout-double .double .featured-image > a > img,
.layout-rows .rows .featured-image > img,
.layout-rows .rows .featured-image > a > img,
.layout-rows-excerpt .rows-excerpt .featured-image > img,
.layout-rows-excerpt .rows-excerpt .featured-image > a > img,
.widget_ct_mission_news_post_list .style-2 .featured-image > img,
.widget_ct_mission_news_post_list .style-2 .featured-image > a > img,
.more-from-category .featured-image > img,
.more-from-category .featured-image > a > img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.layout-double .double .featured-image > img.no-object-fit,
.layout-double .double .featured-image > a > img.no-object-fit,
.layout-rows .rows .featured-image > img.no-object-fit,
.layout-rows .rows .featured-image > a > img.no-object-fit,
.layout-rows-excerpt .rows-excerpt .featured-image > img.no-object-fit,
.layout-rows-excerpt .rows-excerpt .featured-image > a > img.no-object-fit,
.widget_ct_mission_news_post_list .style-2 .featured-image > img.no-object-fit,
.widget_ct_mission_news_post_list .style-2 .featured-image > a > img.no-object-fit,
.more-from-category .featured-image > img.no-object-fit,
.more-from-category .featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}

.search-box h1 {
  margin-bottom: 0.375em;
}
.search-box .search-form {
  margin: 0.75em 0;
}
.search-box .search-submit {
  width: 100%;
}
.search-box.bottom {
  margin: 0 5.556% 1.125em;
}

@media all and (min-width: 31.25em) {
  .search-box .search-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .search-box .search-field {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .search-box .search-submit {
    width: auto;
    min-width: 80px;
  }
}
@media all and (min-width: 37.5em) {
  .search-box.bottom {
    margin: 1.5em 2.778% 1.125em;
    border-top: solid 1px #DCDCDC;
  }
}
@media all and (min-width: 50em) {
  .search-box.bottom {
    margin: 1.5em 0 1.125em;
  }
}
.sidebar-left .inner,
.sidebar-right .inner {
  padding: 1.5em 5.556% 0;
  margin: 0.75em 0;
  border-top: solid 1px #DCDCDC;
}
.sidebar-left .widget,
.sidebar-right .widget {
  margin-bottom: 1.5em;
}
.sidebar-left .widget-title,
.sidebar-right .widget-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #666666;
}

.sidebar-left {
  display: table-row-group;
}

.sidebar-right {
  display: table-footer-group;
}

@media all and (min-width: 37.5em) {
  .sidebar .inner {
    padding: 1.5em 2.778% 0;
  }
  .sidebar .widget {
    width: 48%;
    float: right;
  }
  .sidebar .widget:nth-child(odd) {
    margin-right: 4%;
    float: left;
  }

  .sidebar-left {
    position: relative;
    padding-right: 1.125em;
  }
  .sidebar-left:before {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 1px;
    background: #DCDCDC;
  }

  .sidebar-right {
    padding-left: 1.125em;
  }
}
@media all and (min-width: 50em) {
  .sidebar {
    display: block;
    margin: 0;
    width: 22%;
  }
  .sidebar .inner {
    padding: 0;
    margin: 0;
    border: none;
  }
  .sidebar .widget {
    width: 100%;
    float: none;
  }
  .sidebar .widget:nth-child(odd) {
    margin-right: 0;
  }

  .sidebar-left {
    margin-left: 3%;
    padding-left: 0;
    float: left;
  }
  .sidebar-left:before {
    display: none;
  }
  .sidebar-left ~ .main {
    margin-left: 0;
  }

  .sidebar-right {
    margin-right: 3%;
    padding-right: 0;
    float: right;
  }
}
.widget-area-below-header,
.widget-area-above-main,
.widget-area-after-post,
.widget-area-after-page,
.widget-area-after-first-post {
  text-align: center;
}

.widget-area-below-header {
  margin-bottom: 1.125em;
}

.widget-area-above-main {
  margin-bottom: 0.75em;
}

.widget-area-after-post {
  margin: 1.5em 0;
}

.widget-area-after-page {
  margin-top: 2.25em;
}

.widget-area-below-header,
.widget-area-above-main {
  padding: 0 5.556%;
}
.widget-area-below-header figure,
.widget-area-above-main figure {
  margin: 0;
}

@media all and (min-width: 37.5em) {
  .widget-area-below-header,
  .widget-area-above-main {
    padding: 0 2.778%;
  }
}
@media all and (min-width: 50em) {
  .widget-area-above-main {
    padding: 0;
  }
}
.widget-title {
  margin-bottom: 1.125em;
}

.widget_ct_mission_news_post_list ul {
  margin: 0;
  list-style: none;
}
.widget_ct_mission_news_post_list .title {
  display: block;
  font-family: "PT Serif", serif;
}
.widget_ct_mission_news_post_list .excerpt p:first-child {
  margin-top: 0;
}
.widget_ct_mission_news_post_list .excerpt p:last-child {
  margin-bottom: 0;
}
.widget_ct_mission_news_post_list .comments-link {
  display: block;
  font-style: italic;
  margin-top: 6px;
}
.widget_ct_mission_news_post_list .comments-link i {
  margin-right: 2px;
}
.widget_ct_mission_news_post_list .style-1 li {
  margin-bottom: 1.5em;
}
.widget_ct_mission_news_post_list .style-1 .title {
  font-weight: 700;
  font-style: italic;
  margin: 6px 0;
}
.widget_ct_mission_news_post_list .style-1 .post-byline, .widget_ct_mission_news_post_list .style-1 .widget_recent_entries .post-date, .widget_recent_entries .widget_ct_mission_news_post_list .style-1 .post-date, .widget_ct_mission_news_post_list .style-1 .widget_rss .rss-date, .widget_rss .widget_ct_mission_news_post_list .style-1 .rss-date {
  margin: 6px 0;
}
.widget_ct_mission_news_post_list .style-1 .featured-image {
  margin-bottom: 12px;
}
.widget_ct_mission_news_post_list .style-2 li {
  margin-bottom: 0.75em;
}
.widget_ct_mission_news_post_list .style-2 .top {
  margin-bottom: 6px;
}
.widget_ct_mission_news_post_list .style-2 .top:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.widget_ct_mission_news_post_list .style-2 .post-byline, .widget_ct_mission_news_post_list .style-2 .widget_recent_entries .post-date, .widget_recent_entries .widget_ct_mission_news_post_list .style-2 .post-date, .widget_ct_mission_news_post_list .style-2 .widget_rss .rss-date, .widget_rss .widget_ct_mission_news_post_list .style-2 .rss-date {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.widget_ct_mission_news_post_list .style-2 .bottom .excerpt {
  margin-bottom: 18px;
}
.widget_ct_mission_news_post_list .style-2 .bottom .excerpt + span {
  margin-bottom: 18px;
  margin-top: -12px;
}
.widget_ct_mission_news_post_list .style-2 .excerpt {
  clear: left;
}
.widget_ct_mission_news_post_list .style-2 li .featured-image {
  width: 30%;
  float: left;
  margin: 0 12px 0 0;
  padding-bottom: 22.5%;
}

.widget_ct_mission_news_post_list.style-2 .has-image .top-inner {
  float: right;
  width: calc(70% - 13px);
}

.widget > ul {
  margin: 0;
  list-style: none;
}
.widget > ul li {
  margin-bottom: 6px;
}
.widget select {
  margin-bottom: 6px;
}

.widget_search form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.widget_categories li,
.widget_pages li {
  color: #666666;
}
.widget_categories ul,
.widget_pages ul {
  list-style: none;
}
.widget_categories ul ul,
.widget_pages ul ul {
  margin: 6px 0 0 12px;
}

.widget_calendar {
  text-align: center;
}
.widget_calendar table {
  margin: 0 auto;
  width: 100%;
  font-family: "PT Sans", sans-serif;
}
.widget_calendar table caption {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
}
.widget_calendar td,
.widget_calendar th {
  padding: 4px 0;
}
.widget_calendar #prev,
.widget_calendar #next {
  padding: 0;
}
.widget_calendar #prev a,
.widget_calendar #next a {
  display: block;
  border: none;
  padding: 4px 0;
  text-decoration: none;
}
.widget_calendar #prev a:hover, .widget_calendar #prev a:active, .widget_calendar #prev a:focus,
.widget_calendar #next a:hover,
.widget_calendar #next a:active,
.widget_calendar #next a:focus {
  color: #fff;
  background: #000;
}
.widget_calendar #today {
  background: #000;
  color: #fff;
}

.widget_nav_menu .menu {
  list-style: none;
  margin: 0;
}
.widget_nav_menu .menu ul {
  list-style: none;
  margin: 6px 0 0 12px;
}
.widget_nav_menu .menu li {
  margin-bottom: 6px;
}

.widget_recent_entries .post-date {
  display: block;
}

.widget_rss .widget-title img {
  margin-right: 4px;
}
.widget_rss .widget-title a:hover, .widget_rss .widget-title a:active, .widget_rss .widget-title a:focus {
  text-decoration: none;
}
.widget_rss .rssSummary {
  margin: 0.75em 0;
}
.widget_rss .rssSummary + cite {
  display: block;
}
.widget_rss .rss-date {
  margin-bottom: 12px;
}
.widget_rss li {
  display: block;
}
.widget_rss cite,
.widget_rss span {
  margin-bottom: 1.5em;
  display: block;
  color: #666666;
}
.widget_rss span + cite {
  margin-top: -0.75em;
}

@media all and (min-width: 50em) and (max-width: 68.75em) {
  .widget_ct_mission_news_post_list .style-2 .top {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .widget_ct_mission_news_post_list .style-2 .top-inner {
    width: 100%;
  }
  .widget_ct_mission_news_post_list .style-2 li .featured-image {
    float: none;
    width: 100%;
    padding-bottom: 75%;
    margin: 0 0 6px 0;
  }

  .widget_ct_mission_news_post_list.style-2 .has-image .top-inner {
    float: none;
    width: auto;
  }

  .widget_search form {
    display: block;
  }
  .widget_search .search-submit {
    width: 100%;
  }
}
@media all and (min-width: 62.5em) {
  .widget_ct_mission_news_post_list .style-1 .title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }
}
.layout-double .double {
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
}
.layout-double .double .post-header {
  margin-bottom: 0;
}

@media all and (min-width: 37.5em) {
  .layout-double .entry:first-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .layout-double .double {
    width: 50%;
    float: left;
    border-bottom: none;
    border-top: solid 1px #DCDCDC;
    padding: 0.75em 0;
    margin: 0;
  }
  .layout-double .double:nth-of-type(odd) {
    padding-left: 0.75em;
    margin-left: -1px;
    border-left: solid 1px #DCDCDC;
  }
  .layout-double .double:nth-of-type(even) {
    padding-right: 0.75em;
    clear: left;
    border-right: solid 1px #DCDCDC;
  }
  .layout-double .double .post-title {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
.layout-rows .rows,
.layout-rows .rows-excerpt,
.layout-rows-excerpt .rows,
.layout-rows-excerpt .rows-excerpt {
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
}
.layout-rows .rows > article:after,
.layout-rows .rows-excerpt > article:after,
.layout-rows-excerpt .rows > article:after,
.layout-rows-excerpt .rows-excerpt > article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.layout-rows .rows .featured-image,
.layout-rows .rows-excerpt .featured-image,
.layout-rows-excerpt .rows .featured-image,
.layout-rows-excerpt .rows-excerpt .featured-image {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  padding-bottom: 18.8562%;
  margin-right: 12px;
}
.layout-rows .rows .post-header,
.layout-rows .rows-excerpt .post-header,
.layout-rows-excerpt .rows .post-header,
.layout-rows-excerpt .rows-excerpt .post-header {
  margin: 0;
}
.layout-rows .rows.has-post-thumbnail .post-header,
.layout-rows .rows-excerpt.has-post-thumbnail .post-header,
.layout-rows-excerpt .rows.has-post-thumbnail .post-header,
.layout-rows-excerpt .rows-excerpt.has-post-thumbnail .post-header {
  display: inline-block;
  vertical-align: middle;
  width: calc(70% - 17px);
}

.layout-rows-excerpt .rows-excerpt > article {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media all and (min-width: 37.5em) {
  .layout-rows .rows .post-title,
  .layout-rows .rows-excerpt .post-title,
  .layout-rows-excerpt .rows .post-title,
  .layout-rows-excerpt .rows-excerpt .post-title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }
}
@media all and (min-width: 37.5em) {
  .layout-rows .rows .post-title,
  .layout-rows .rows-excerpt .post-title,
  .layout-rows-excerpt .rows .post-title,
  .layout-rows-excerpt .rows-excerpt .post-title {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
@media all and (min-width: 68.75em) {
  .layout-rows .rows .post-title,
  .layout-rows .rows-excerpt .post-title,
  .layout-rows-excerpt .rows .post-title,
  .layout-rows-excerpt .rows-excerpt .post-title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.333;
    /* 28px */
  }
}
@media all and (min-width: 50em) {
  .single-post.layout-post-right-sidebar .content-container:before,
  .page.layout-page-right-sidebar .content-container:before {
    display: none;
  }
  .single-post.layout-post-right-sidebar .main,
  .page.layout-page-right-sidebar .main {
    margin-left: 25%;
  }
  .single-post.layout-post-right-sidebar .entry article > .featured-image,
  .page.layout-page-right-sidebar .entry article > .featured-image {
    left: -56%;
    width: 156%;
  }

  .single-post.layout-post-left-sidebar .content-container:after,
  .page.layout-page-left-sidebar .content-container:after {
    display: none;
  }
  .single-post.layout-post-left-sidebar .entry article > .featured-image,
  .page.layout-page-left-sidebar .entry article > .featured-image {
    width: 156%;
  }

  .single-post.layout-post-no-sidebar .content-container:before, .single-post.layout-post-no-sidebar .content-container:after,
  .page.layout-page-no-sidebar .content-container:before,
  .page.layout-page-no-sidebar .content-container:after {
    display: none;
  }
  .single-post.layout-post-no-sidebar .main,
  .page.layout-page-no-sidebar .main {
    float: none;
  }
  .single-post.layout-post-no-sidebar .entry article > .featured-image,
  .page.layout-page-no-sidebar .entry article > .featured-image {
    left: -28%;
    width: 156%;
  }
  .single-post.layout-post-no-sidebar .post-header,
  .page.layout-page-no-sidebar .post-header {
    position: relative;
    left: -14%;
    width: 128%;
    text-align: center;
    margin: 1.125em 0 1.5em;
  }
  .single-post.layout-post-no-sidebar .post-title,
  .page.layout-page-no-sidebar .post-title {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.342;
    /* 51px */
  }
}
