/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
#accordion-section-ct_mission_news_pro .accordion-section-title {
  color: #fff;
  background: #05B0E7;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
#accordion-section-ct_mission_news_pro .accordion-section-title:after {
  color: #fff;
}
#accordion-section-ct_mission_news_pro .accordion-section-title:hover, #accordion-section-ct_mission_news_pro .accordion-section-title:active, #accordion-section-ct_mission_news_pro .accordion-section-title:focus {
  background: #3A96B5 !important;
  color: #fff !important;
}
#accordion-section-ct_mission_news_pro .accordion-section-title:hover:after, #accordion-section-ct_mission_news_pro .accordion-section-title:active:after, #accordion-section-ct_mission_news_pro .accordion-section-title:focus:after {
  color: #fff !important;
}

#customize-control-mission_pro {
  background: white;
  border: solid 1px #DCDCDC;
  padding: 6px 24px;
  box-sizing: border-box;
}
#customize-control-mission_pro ul {
  list-style: disc;
  padding-left: 15px;
}
#customize-control-mission_pro img {
  position: relative;
  max-width: calc(100% + 48px);
  top: -6px;
  left: -24px;
  border-bottom: solid 1px #DCDCDC;
}
#customize-control-mission_pro .bold {
  font-weight: 600;
  font-size: 16px;
}
#customize-control-mission_pro .button-wrapper {
  text-align: center;
}
#customize-control-mission_pro .mission-pro-button {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 24px;
  margin: 12px auto;
  background: #FF931E;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
#customize-control-mission_pro .mission-pro-button:before {
  content: '\f06e';
  font-family: 'FontAwesome';
  margin-right: 6px;
}
#customize-control-mission_pro .mission-pro-button:hover, #customize-control-mission_pro .mission-pro-button:active, #customize-control-mission_pro .mission-pro-button:focus {
  background: #FF8A23;
}

#sub-accordion-section-ct_mission_news_social_media_icons #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}

#available-widgets [class*=ct_mission_news_post_list] .widget-title:before {
  content: "\f109";
}
